.content {
	margin-top: 110px;
	margin-left: 149px;
	/*margin-right: -21px;*/
	margin-bottom: 74px;
	padding-left: 20px;
	width: 980px;
	height: 1345px;
	background-color: #FFFDF9;
}

.article {
	float: left;
	width: 220px;
	height: 310px;
	margin-right: 20px;
	margin-top: 20px;
	transition: .2s linear;
	border: 1px solid #;
}

.img {
	background-color: white;
	width: 100%;
	height: 220px;
	overflow: hidden;
}

.article_img {
	width: 100%;
	height: auto;
	transition: .2s linear all;
}

.article_img:hover {
	transform: scale(1.1);
}

.article_detail {
	background-color: #FFFBF3;
	width: 100%;
	height: 90px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 15px;
}

.article_title {
	font-size: 14px;
	color: #A0A0A0;
	float: left;
	margin-bottom: 14px;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.article_title:hover {
	color: #419BF9;
}

.article_author, .article_date {
	font-size: 10px;
	color: #C3C3C3;
}

.article_author {
	float: left;
	transition: .1s linear;
}

.article_author:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.article_date {
	float: right;
	cursor: default;
}

.pages {
	margin-left: 392px;
	margin-bottom: 74px;
	height: 30px;
}

.page_icon {
	width: 25px;
	height: 25px;
	float: left;
	margin-top: 2.5px;
	margin-left: 8px;
}

.page {
	width: 30px;
	height: 30px;
	float: left;
	border:1px solid #E2E2E2;
	border-radius: 5px;
	color: black;
	font-size: 20px;
	font-family: "Helvetica";
	text-align: center;
	line-height: 30px;
	margin-left: 8px;
	text-decoration: none;
}

.page:hover {
	border-color: #979797;
}

