.main_profile {
	margin-top: 110px;
	position: relative;
}

.previous_icon, .next_icon {
	width: 66px;
	height: 66px;
	position: absolute;
 	top: 50%;
}

.previous_icon, .next_icon:hover {
	cursor: pointer;
}

.previous_icon {
	left: 46px;
}

.next_icon {
	right: 46px;
}

.main_img_div {
	width: 578px;
	height: 434px;
	margin-left: 148px;
	overflow: hidden;
}

.main_img {
	max-height: 100%;
}

.img_introduction {
	width: 578px;
	height: 213px;
	background-color: #FFF4EB;
	margin-top: 25px;
	margin-left: 148px;
	padding-top: 30px;
}

.img_intro_title {
	color: #F8C600;
	font-size: 20px;
	margin-left: 30px;
}

.img_intro_content {
	color: #F8C600;
	font-size: 14px;
	font-weight: lighter;
	
	margin-top: 15px;
	margin-left: 66px;
	width: 410px;
	height: 112px;
	overflow-x: hidden;
	overflow-y: auto; 
}

.img_detail {
	width: 474px;
	height: 349px;
	/*background-color: #FFFBF3;*/
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 217px;
	right: 147px;
	padding-top: 33px;
	padding-left: 104px;
	padding-right: 61px;
}

.img_detail_title {
	color: #A9D47E;
	font-size: 20px;
}

.img_name {
	font-size: 36px;
	float: left;
}

.like_icon {
	width: 26px;
	height: 26px;
	vertical-align: bottom;
	margin-left: -2px;
	margin-bottom: 2px;
	transition: .2s linear;
}

.like_icon:hover {
	cursor: pointer;
	/*transform: scale(1.2);*/
	transform: rotate(15deg) scale(1.2);
}

.birth {
	font-size: 20px;
	float: right;
	margin-top: 22px;
}

.height_weight {
	margin-top: 40px;
	float: left;
}

.three_way {
	margin-top: 40px;
	float: right;
}

.article_link_title {
	margin-top: 40px;
	float: left;
}

.article_links {
	float: left;
	padding-top: 25px;
	padding-left: 33px;
}

.article_link {
	display: block;
	color: #85C7F1;
	font-size: 14px;
	margin-bottom: 12px;
}

.more_img {
	margin: 0px auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 984px;
	height: 200px;
	/*margin-right: -35px;*/
	overflow: scroll;
	white-space: nowrap;

	/*overflow-y: hidden;*/
}



.more_img1 {
	background-color: white;
	width: 272px;
	height: 200px;
	margin-right: 35px;
	display: inline;
}

.more_img2 {
	background-color: white;
	width: 370px;
	height: 200px;
	margin-right: 35px;
	display: inline;
}



